<div class="container page">
  <section id="event-detail" class="section">
    <!-- <div class="action-panel">
      <button class="nag_button button-fill back" (click)="goBackToPrevPage()">
        Zurück
      </button>
    </div> -->
    <h2 class="event-title">
      {{ event.title }}
    </h2>
    <div class="event-info-header">
      <div class="date">
        {{ event.date_start | date : "EE dd.MM.yyyy HH:mm" }}
        @if(event.date_end){ –
        {{ event.date_end | date : "EE dd.MM.yyyy HH:mm" }}
        }
      </div>

      @if(event.type.length > 0){
      <div class="type">
        @for( type of event.type; track $index){
        <span class="chip sm">{{ type }}</span>
        }
      </div>
      }
    </div>

    <p class="description" [innerHTML]="event.description | safeHtml"></p>

    <div class="infocontainer">
      <h3>Auf einen Blick</h3>
      <div class="bold">Datum</div>
      <div>
        {{ event.date_start | date : "EE dd.MM.yyyy HH:mm" }}

        @if(event.date_end){ –
        {{ event.date_end | date : "EE dd.MM.yyyy HH:mm" }}
        }
      </div>
      <div class="bold">Location</div>
      <div>
        {{ event.location_name }}
      </div>
      <div class="bold">Adresse</div>
      <div>{{ event.street }} {{ event.number }}</div>
      <div>{{ event.postal_code }} {{ event.city }}</div>

      <a class="maps-link" [href]="mapsLink" target="_blank">Google Maps</a>
    </div>
    <!-- <div class="mobile mobile-container">
      <button
        class="nag_button button-fill back mobile"
        (click)="goBackToPrevPage()"
      >
        Zurück
      </button>
    </div> -->
  </section>
</div>
