.map-wrap {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

#map {
  width: 100%;
  height: calc(var(--main-height) - 2 * var(--page-padding-value));
  padding: 0;
  position: sticky;
  top: calc(var(--page-padding-value) + var(--header-height));
}

.dojo-info {
  width: 50%;

  .stack {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
  }

  .right {
    width: 50%;
  }

  .city {
    margin-bottom: 1rem;
  }

  .logo {
    border-radius: var(--component-br);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }

  .action {
    width: 100%;
    margin-top: 1rem;
    display: flex;

    .close {
      margin-left: auto;
    }
  }
}

.state-heading {
  margin-bottom: 0.5rem;
}

.dojo-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .list-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: var(--component-br);
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      background-color: var(--grey-100);
    }

    .mini-logo {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 0.1rem solid var(--grey-500);
      background-color: var(--white);
      background-size: cover;
      background-position: center;
    }
  }
}
