<div class="container page map-wrap">
  @if(isLoading){
  <div class="loader-backdrop">
    <div class="loader"></div>
  </div>
  }
  <section id="map" class="section" (click)="closeDialog()"></section>

  <dialog id="dojo-dialog" #dojoDialog>
    <div class="dojo-header">
      <div class="dojo-info-wrapper">
        <div class="dojo-name">{{ dojoInfo.name }}</div>
        <div class="dojo-city">{{ dojoInfo.city }}</div>
        <div class="dojo-link">
          <a
            href="{{ dojoInfo.link }}"
            target="_blank"
            title="Link zum Dojo des {{ dojoInfo.name }}"
            >link zum Dojo</a
          >
        </div>
      </div>
      <div class="dojo-logo-wrapper">
        <img
          class="dojo-logo"
          src="{{ url }}/assets/{{ dojoInfo.logo }}"
          alt="Logo des {{ dojoInfo.name }}"
        />
      </div>
    </div>
    <div
      class="dojo-description"
      [innerHtml]="dojoInfo.description | safeHtml"
    ></div>
    <div class="dialog-action">
      <button
        class="nag_button button-outline button-sm"
        autofocus
        (click)="closeDialog()"
      >
        Schließen
      </button>
    </div>
  </dialog>
</div>
