<div class="container page map-wrap">
  <section id="map" class="section"></section>

  <dialog id="dojo-dialog" #dojoDialog>
    <div class="dojo-header">
      <div class="dojo-info-wrapper">
        <div class="dojo-name">{{ dojoInfo.name }}</div>
        <div class="dojo-city">{{ dojoInfo.city }}</div>
        <div class="dojo-link">
          <a href="{{ dojoInfo.link }}" target="_blank">link zum Dojo</a>
        </div>
      </div>
      <div class="dojo-logo-wrapper">
        <img
          class="dojo-logo"
          src="{{ url }}/assets/{{ dojoInfo.logo }}"
          alt=""
        />
      </div>
    </div>
    <div
      class="dojo-description"
      [innerHtml]="dojoInfo.description | safeHtml"
    ></div>
    <form class="dialog-action" method="dialog">
      <button class="nag_button button-outline button-sm">Schließen</button>
    </form>
  </dialog>
</div>
