.map-wrap {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
}

#map {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: calc(var(--main-height) - var(--footer-height));
  background-color: var(--gray-200);
}

#dojo-dialog {
  width: 30rem;
  padding: 0;
  border: none;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  top: 50%;
  translate: 0 -50%;
  left: 5rem;

  .dojo-header {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--gray-200);
    padding: 1rem;

    .dojo-info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .dojo-name {
      font-size: 1.25rem;
    }

    .dojo-city {
      color: var(--gray-800);
      font-style: italic;
    }

    .dojo-logo {
      width: 5rem;
      height: auto;
      border-radius: var(--border-radius);
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  .dojo-description {
    height: 17.5rem;
    padding: 0 1rem;
    width: 100%;
    overflow: auto;

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  .dialog-action {
    padding: 1rem;
    border-top: 1px solid var(--gray-200);
  }
}

@media screen and (max-width: 992px) {
  #map {
    height: calc(var(--main-height-sm) - var(--header-height-sm));
  }
}

@media screen and (max-width: 576px) {
  #dojo-dialog[open] {
    width: 100%;
    height: var(--main-height-sm);
    top: var(--header-height-sm);
    border-radius: 0;
    filter: none;
    display: flex;
    flex-direction: column;
    z-index: 10;

    .dojo-description {
      height: fit-content;
    }

    .dialog-action {
      margin-top: auto;
    }
  }
}
