<header id="header">
  <nav class="menu-nav">
    <a
      class="nav-link-logo"
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      (click)="closeSideNav()"
    >
      <img
        src="{{ url }}/assets/{{ logo }}?width=100&height=40"
        alt="Logo"
        class="logo"
      />
    </a>
    <button
      class="nag_button button-fill button-sm menu-nav-button glow"
      (click)="toggleSideNav()"
    >
      <img src="./assets/icons/menu.svg" alt="" />
    </button>
  </nav>
  <nav class="nav">
    <ul class="container">
      <li tabindex="0" (keyup.enter)="router.navigateByUrl('/home')">
        <a
          class="nav-link-logo"
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <img
            src="{{ url }}/assets/{{ logo }}?width=160&height=66"
            alt="Logo"
            class="logo"
          />
        </a>
      </li>
      @for(item of navData; track $index){ @if(item.routerLink){
      <li tabindex="0" (keyup.enter)="router.navigateByUrl(item.routerLink)">
        <a
          class="nav-link"
          routerLink="{{ item.routerLink }}"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          (click)="closeDropdown(undefined, $event)"
        >
          {{ item.label }}
        </a>
      </li>
      } @if(item.dropdown){
      <li class="dropdown">
        <div
          class="dropdown-button"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          tabindex="0"
          (click)="openDropdown(dropdown, $event)"
          (keyup.enter)="openDropdown(dropdown, $event)"
        >
          {{ item.label }}
          <div #dropdown class="dropdown-content">
            @for(subItem of item.dropdown; track $index){
            @if(subItem.routerLink){
            <a
              class="nav-link"
              routerLink="{{ subItem.routerLink }}"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              tabindex="0"
              (click)="closeDropdown(undefined, $event)"
              (keyup.enter)="closeDropdown(undefined, $event)"
            >
              {{ subItem.label }}
            </a>
            } }
          </div>
        </div>
      </li>
      } }
    </ul>
  </nav>
</header>
