<header id="header">
  <nav class="menu-nav">
    <a
      class="nav-link-logo"
      routerLink="/home"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      (click)="closeSideNav()"
    >
      <img
        src="{{ url }}/assets/{{ logo }}?width=100&height=40"
        alt="Logo"
        class="logo"
      />
    </a>
    <button
      class="nag_button button-fill button-sm menu-nav-button"
      (click)="toggleSideNav()"
    >
      <img src="./assets/icons/menu.svg" alt="" />
    </button>
  </nav>
  <nav class="nav">
    <ul class="container">
      <li>
        <a
          class="nav-link-logo"
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <img
            src="{{ url }}/assets/{{ logo }}?width=160&height=66"
            alt="Logo"
            class="logo"
          />
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/news"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Aktuelles</a
        >
      </li>
      <li class="dropdown">
        <div
          class="dropdown-button"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Der DNagB
          <div class="dropdown-content">
            <a
              class="nav-link"
              routerLink="/dnagb/vereinsstrukturen"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Vereinsstruktur</a
            >
            <a
              class="nav-link"
              routerLink="/dnagb/dojo"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Dojos</a
            >
            <a
              class="nav-link"
              routerLink="/dnagb/mitglied-werden"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Mitglied werden</a
            >
          </div>
        </div>
      </li>
      <li class="dropdown">
        <div
          class="dropdown-button"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Naginata
          <div class="dropdown-content">
            <a
              class="nav-link"
              routerLink="/naginata/ausruestung"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Ausrüstung</a
            >
            <a
              class="nav-link"
              routerLink="/naginata/kampfsport"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Der Kampfsport</a
            >
            <a
              class="nav-link"
              routerLink="/naginata/geschichte"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Geschichte</a
            >
          </div>
        </div>
      </li>
      <li class="dropdown">
        <div
          class="dropdown-button"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Infos<br />
          für Aktive
          <div class="dropdown-content">
            <a
              class="nav-link"
              routerLink="/info/pruefung"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Prüfung</a
            >
            <a
              class="nav-link"
              routerLink="/info/nuetzliches"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Nützliches</a
            >
            <a
              class="nav-link"
              routerLink="/info/veranstaltung-planen"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Eine Veranstaltung planen</a
            >
          </div>
        </div>
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/download"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Formulare<br />
          & Dokumente</a
        >
      </li>
    </ul>
  </nav>
</header>
