.nag_button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--button-hover-bg);
    color: var(--button-hover-text);
  }
}
