:root {
  font-size: 16px;
  font-family: "Quattrocento Sans", "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text);
  background-color: var(--main-bg);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0%;
  margin: 0%;
}

h1 {
  font-family: Fira Sans;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  font-family: Heebo;
}

p {
  margin: 0;
}

.page {
  min-height: var(--main-height);
  padding: var(--page-padding);
}

.section {
  width: 100%;
  border-radius: var(--component-br);
  background-color: var(--section-bg);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding: var(--section-padding);

  p {
    margin: 1rem 0;
    max-width: 70ch;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
