.zoom-to-extent {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  padding: 0;
  width: 29px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background: var(--white);
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #f2f2f2;
  }
}

.dojo-marker {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "📍";
    font-size: 1.75rem;
  }
  cursor: pointer;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));

  &:hover {
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
    &:after {
      content: "";
      position: absolute;
      bottom: -1.5rem;
    }
  }
}

.dojo-popup {
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));
  border-radius: var(--border-radius);
}

.maplibregl-ctrl-compass {
  display: none !important;
}
