.zoom-to-extent {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  padding: 0;
  width: 29px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  background: var(--white);
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: #f2f2f2;
  }
}

.dojo-marker {
  &:before {
    content: "📍";
    width: 1rem;
    height: 1rem;
    font-size: 1.5rem;
  }
  width: 40px;
  height: 40px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25));

  &:hover {
    filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.75));
  }
}

.maplibregl-ctrl-compass {
  display: none !important;
}
