/* ~~~~~~~~~~~~~~~~~~~~ Components defaults (at smallest view) ~~~~~~~~~~~~~~~~~~~~ */
#main {
  min-height: var(--main-height-sm);
}

#side-nav nav {
  width: 100%;
}

#association {
  .board-speaker {
    flex-direction: column;
  }
}

.container {
  margin: auto;
  width: 100%;
}

.content {
  min-height: calc(var(--main-height-sm) - var(--footer-height));
}

/* ~~~~~~~~~~~~~~~~~~~~ 576px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 576px) {
  #side-nav nav {
    width: 25rem;
  }

  .container {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 768px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~ 992px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 992px) {
  #main {
    min-height: var(--main-height);
  }

  #side-nav {
    display: none !important;
  }

  .container {
    width: 100%;
  }

  .content {
    min-height: calc(var(--main-height) - var(--footer-height));
  }

  #association {
    .board-speaker {
      flex-direction: row;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1200px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1400px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1600px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1600px) {
  .container {
    width: 1400px;
  }
}
