/* ~~~~~~~~~~~~~~~~~~~~ Components defaults (at smallest view) ~~~~~~~~~~~~~~~~~~~~ */
#main {
  min-height: var(--main-height-sm);
}

#header {
  height: var(--header-height-sm);
}

#side-nav nav {
  width: 100%;
}

#footer {
  .no-mobile {
    display: none;
  }
}

#short-info {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#download {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.container {
  margin: auto;
  width: 100%;
}

.content {
  min-height: calc(var(--main-height-sm) - var(--footer-height));
}

/* ~~~~~~~~~~~~~~~~~~~~ 576px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 576px) {
  #side-nav nav {
    width: 25rem;
  }

  .container {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 768px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  #short-info {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ~~~~~~~~~~~~~~~~~~~~ 992px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 992px) {
  #main {
    min-height: var(--main-height);
  }

  #header {
    height: var(--header-height);
  }

  #side-nav {
    display: none !important;
  }

  #footer {
    .no-mobile {
      display: block;
    }
  }

  #short-info {
    grid-template-columns: repeat(3, 1fr);
  }

  #download {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    width: 100%;
  }

  .content {
    min-height: calc(var(--main-height) - var(--footer-height));
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1200px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1400px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1600px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1600px) {
  .container {
    width: 1400px;
  }
}
