/* ~~~~~~~~~~~~~~~~~~~~ Components defaults (at smallest view) ~~~~~~~~~~~~~~~~~~~~ */
#main {
  min-height: var(--main-height-sm);
}

#header {
  height: var(--header-height-sm);
}

#side-nav nav {
  width: 100%;
}

#footer {
  .no-mobile {
    display: none;
  }
}

#short-info {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

#download {
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .download {
    flex-direction: column;
    align-items: flex-start;
  }
}

#association {
  .board-speaker {
    flex-direction: column;
  }
}

#news {
  .news-card {
    flex-direction: column;
    width: 100%;
    font-size: 1rem;

    .news-card_image {
      display: none;
      .image-wrapper {
        width: 6rem;
      }

      img {
        width: 6rem;
        height: 6rem;
      }
    }

    .news-card_content {
      padding: 1rem;

      .image-sm {
        display: block;
      }

      .type {
        gap: 0.375rem;
        row-gap: 0.25rem;
      }
    }
  }
}

.container {
  margin: auto;
  width: 100%;
}

.content {
  min-height: calc(var(--main-height-sm) - var(--footer-height));
}

/* ~~~~~~~~~~~~~~~~~~~~ 576px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 576px) {
  #side-nav nav {
    width: 25rem;
  }

  .container {
    width: 100%;
  }

  #news {
    .news-card {
      width: 100%;
      flex-direction: row;

      .news-card_image {
        display: flex;
        .image-wrapper {
          width: fit-content;
        }

        img {
          width: 7.5rem;
          height: calc(1.4 * var(--img-height));
        }
      }

      .news-card_content {
        .image-sm {
          display: none;
        }
        padding: 1rem 1rem 1rem 0;
      }
    }
  }

  #download {
    .download {
      flex-direction: row;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 768px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  #short-info {
    grid-template-columns: repeat(2, 1fr);
  }

  #news {
    .news-card {
      font-size: 1.125rem;
      width: 45rem;

      .type {
        gap: 1rem;
      }
    }
  }
}
/* ~~~~~~~~~~~~~~~~~~~~ 992px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 992px) {
  #main {
    min-height: var(--main-height);
  }

  #header {
    height: var(--header-height);
  }

  #side-nav {
    display: none !important;
  }

  #footer {
    .no-mobile {
      display: block;
    }
  }

  #short-info {
    grid-template-columns: repeat(3, 1fr);
  }

  #download {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    width: 100%;
  }

  .content {
    min-height: calc(var(--main-height) - var(--footer-height));
  }

  #association {
    .board-speaker {
      flex-direction: row;
    }
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1200px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1400px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~ 1600px ~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1600px) {
  .container {
    width: 1400px;
  }
}
