:root {
  /* ~~~~~~~~~~ page ~~~~~~~~~~ */
  --page-padding-value: 1rem;
  --page-padding: var(--page-padding-value);

  /* ~~~~~~~~~~ section & component ~~~~~~~~~~ */
  --section-padding: 1rem 1.5rem;
  --section-bg: var(--white);
  --border-radius: 0.25rem;

  /* ~~~~~~~~~~ text ~~~~~~~~~~ */
  --text: var(--gray-900);
  --text-inverse: var(--gray-100);

  /* ~~~~~~~~~~ header ~~~~~~~~~~ */
  --header-bg: var(--gray-900);
  --header-height: 6rem;
  --header-height-sm: 4rem;

  /* ~~~~~~~~~~ main ~~~~~~~~~~ */
  --main-bg: var(--white);
  --main-text: var(--text);
  --main-height: calc(100dvh - var(--header-height));
  --main-height-sm: calc(100dvh - var(--header-height-sm));

  /* ~~~~~~~~~~ footer ~~~~~~~~~~ */
  --footer-bg: var(--gray-900);
  --footer-height: 4rem;
  --footer-text: var(--text-inverse);

  /* ~~~~~~~~~~ nav-link ~~~~~~~~~~ */
  --nav-link-text: var(--text-inverse);
  --nav-link-hover: var(--primary);
  --nav-link-active: var(--primary);

  /* ~~~~~~~~~~ button ~~~~~~~~~~ */
  --button-fill-bg: var(--primary);
  --button-fill-text: var(--primary-text);
  --button-fill-border: var(--primary);
  --button-fill-hover-bg: var(--primary-lighten);
  --button-fill-hover-text: var(--primary-text);
  --button-fill-hover-border: var(--primary-lighten);
  --button-fill-active-bg: var(--primary-darken);
  --button-fill-active-text: var(--primary-text);
  --button-fill-active-border: var(--primary-darken);

  --button-fill-secondary-bg: var(--secondary);
  --button-fill-secondary-text: var(--secondary-text);
  --button-fill-secondary-border: var(--secondary);
  --button-fill-secondary-hover-bg: var(--secondary-lighten);
  --button-fill-secondary-hover-text: var(--secondary-text);
  --button-fill-secondary-hover-border: var(--secondary-lighten);
  --button-fill-secondary-active-bg: var(--secondary-darken);
  --button-fill-secondary-active-text: var(--secondary-text);
  --button-fill-secondary-active-border: var(--secondary-darken);

  --button-outline-bg: transparent;
  --button-outline-text: var(--text);
  --button-outline-border: var(--primary);
  --button-outline-hover-bg: var(--primary-lighten);
  --button-outline-hover-text: var(--primary-text);
  --button-outline-hover-border: var(--primary-lighten);
  --button-outline-active-bg: var(--primary-darken);
  --button-outline-active-text: var(--primary-text);
  --button-outline-active-border: var(--primary-darken);

  --button-outline-secondary-bg: transparent;
  --button-outline-secondary-text: var(--text);
  --button-outline-secondary-border: var(--secondary);
  --button-outline-secondary-hover-bg: var(--secondary-lighten);
  --button-outline-secondary-hover-text: var(--secondary-text);
  --button-outline-secondary-hover-border: var(--secondary-lighten);
  --button-outline-secondary-active-bg: var(--secondary-darken);
  --button-outline-secondary-active-text: var(--secondary-text);
  --button-outline-secondary-active-border: var(--secondary-darken);

  /* ~~~~~~~~~~ effects ~~~~~~~~~~ */
  --transition-duration: 250ms;
  --transition-property: all;
  --transition-timing-function: ease-in-out;
  --transition: var(--transition-property) var(--transition-duration)
    var(--transition-timing-function);
}
