:root {
  /* ~~~~~~~~~~ page ~~~~~~~~~~ */
  --page-padding-value: 1rem;
  --page-padding: var(--page-padding-value);

  /* ~~~~~~~~~~ section & component ~~~~~~~~~~ */
  --section-padding: 1rem;
  --section-bg: var(--white);
  --component-br: 0.25rem;

  /* ~~~~~~~~~~ text ~~~~~~~~~~ */
  --text: var(--grey-900);
  --text-inverse: var(--grey-100);

  /* ~~~~~~~~~~ header ~~~~~~~~~~ */
  --header-bg: var(--grey-900);
  --header-height: 6rem;

  /* ~~~~~~~~~~ main ~~~~~~~~~~ */
  --main-bg: var(--grey-200);
  --main-text: var(--text);
  --main-height: calc(100vh - (var(--header-height) + var(--footer-height)));

  /* ~~~~~~~~~~ footer ~~~~~~~~~~ */
  --footer-bg: var(--grey-900);
  --footer-height: 4rem;

  /* ~~~~~~~~~~ nav-link ~~~~~~~~~~ */
  --nav-link-text: var(--text-inverse);
  --nav-link-hover: var(--primary);
  --nav-link-active: var(--primary);

  /* ~~~~~~~~~~ button ~~~~~~~~~~ */
  --button-fill-bg: var(--primary);
  --button-fill-text: var(--primary-text);
  --button-fill-border: var(--primary);
  --button-fill-hover-bg: var(--primary-lighten);
  --button-fill-hover-text: var(--primary-text);
  --button-fill-hover-border: var(--primary-lighten);
  --button-fill-active-bg: var(--primary-darken);
  --button-fill-active-text: var(--primary-text);
  --button-fill-active-border: var(--primary-darken);

  --button-fill-secondary-bg: var(--secondary);
  --button-fill-secondary-text: var(--secondary-text);
  --button-fill-secondary-border: var(--secondary);
  --button-fill-secondary-hover-bg: var(--secondary-lighten);
  --button-fill-secondary-hover-text: var(--secondary-text);
  --button-fill-secondary-hover-border: var(--secondary-lighten);
  --button-fill-secondary-active-bg: var(--secondary-darken);
  --button-fill-secondary-active-text: var(--secondary-text);
  --button-fill-secondary-active-border: var(--secondary-darken);

  --button-outline-bg: transparent;
  --button-outline-text: var(--text);
  --button-outline-border: var(--primary);
  --button-outline-hover-bg: var(--primary-lighten);
  --button-outline-hover-text: var(--primary-text);
  --button-outline-hover-border: var(--primary-lighten);
  --button-outline-active-bg: var(--primary-darken);
  --button-outline-active-text: var(--primary-text);
  --button-outline-active-border: var(--primary-darken);

  --button-outline-secondary-bg: transparent;
  --button-outline-secondary-text: var(--text);
  --button-outline-secondary-border: var(--secondary);
  --button-outline-secondary-hover-bg: var(--secondary-lighten);
  --button-outline-secondary-hover-text: var(--secondary-text);
  --button-outline-secondary-hover-border: var(--secondary-lighten);
  --button-outline-secondary-active-bg: var(--secondary-darken);
  --button-outline-secondary-active-text: var(--secondary-text);
  --button-outline-secondary-active-border: var(--secondary-darken);
}
