.page {
  padding-top: calc(var(--page-padding-number) * (-1));
  padding-left: calc(var(--page-padding-number) * (-1));
}

.banner_bg-fill {
  background: linear-gradient(90deg, var(--header-bg) 30%, var(--main-bg) 100%);

  .banner_content {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: var(--section-padding);
  }

  .banner_title {
    margin: 0;
    font-size: 4rem;
    font-family: Fira Sans;
    width: 28rem;
    color: var(--text-inverse);
  }
}

.banner_stack {
  display: flex;
  gap: 1rem;
}

#short-info {
  display: flex;
  gap: 1rem;
  padding: var(--section-padding);
}

app-calendar {
  width: 100%;
}

.sample-box {
  height: 20rem;
  width: 100%;
  background-color: orange;
}
