<div class="note" [ngClass]="{ open: open }" (click)="closeEventBox()">
  <div class="note-card" (click)="navigateToEvent()">
    <div class="card-image">
      @if(data?.image){
      <img
        src="{{ url }}/assets/{{ data?.image }}?quality=25"
        alt="Bild von {{ data?.title }}"
      />
      } @else {
      <!-- TODO: edir placeholder image to be loaden from directus -->
      <img src="./assets/placeholder.jpg" alt="" />
      }
    </div>
    <div class="card-content">
      <div class="title">{{ data?.title }}</div>
      <div class="date">
        {{ data?.date_start | date : "dd.MM.yyyy" }}
      </div>
      <p class="announcement">
        {{ data?.announcement }}
      </p>
      <div class="details">zum Event</div>
    </div>
  </div>
</div>
