<div class="note" [ngClass]="{ open: open }" (click)="closeEventBox()">
  <div class="note-card" (click)="navigateToEvent()">
    <div class="card-image">
      @if(data.image){
      <img
        src="{{ url }}/assets/{{ data.image }}?quality=25"
        alt="Bild von {{ data.title }}"
      />
      } @else {

      <img src="./assets/naginata-symbolbild-260x300.jpg" alt="" />
      }
    </div>
    <div class="card-content">
      <div class="title">{{ data.title }}</div>
      <div class="date">
        {{
          data.date_start
            .toLocaleString("de-DE", {
              year: "numeric",
              month: "2-digit",
              day: "2-digit"
            })
            .replace(",", "")
        }}
      </div>
      <p class="announcement">
        {{ data.announcement }}
      </p>
      <div class="details">zum Event</div>
    </div>
  </div>
</div>
