<h1>{{ title.short }}</h1>
<h2>Willkommen beim {{ title.long }}</h2>
<button class="button">text</button>
<div class="box-wrapper">
  <div class="box" style="background-color: var(--primary-lighten)"></div>
  <div class="box" style="background-color: var(--primary)"></div>
  <div class="box" style="background-color: var(--primary-darken)"></div>
  <div class="box" style="background-color: var(--secondary-lighten)"></div>
  <div class="box" style="background-color: var(--secondary)"></div>
  <div class="box" style="background-color: var(--secondary-darken)"></div>
</div>
