<section id="banner" class="banner_bg-fill">
  <div class="banner_content break-point-mantle">
    <h2 class="banner_title">{{ title.long_1 }}</h2>
    <div class="banner_stack">
      <button class="nag_button button-fill">Mitglied werden</button>
      <button class="nag_button button-outline dark-bg">
        Das ist Naginata
      </button>
    </div>
  </div>
</section>
<section id="short-info" class="break-point-mantle">
  <app-calendar></app-calendar>
  <div class="sample-box"></div>
  <div class="sample-box"></div>
</section>
