:host {
  position: relative;
}

.toggle-switch__input {
  position: absolute;
  opacity: 0;
  width: 5.9em;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  min-height: auto;
  margin: 0 0.5em 0 0;
}

.toggle-switch__display {
  --offset: 0.25em;
  --diameter: 1.8em;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 4.1em;
  height: 2.3em;
  box-sizing: content-box;
  border: 2px solid var(--primary-darken);
  position: relative;
  z-index: 0;
  border-radius: 100vw;
  background-color: var(--color-message-error);
  transition: var(--transition);
  cursor: pointer;

  &:before {
    content: "";
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid var(--primary-darken);
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0.25em;
    transform: translate(0, -50%);
    background-color: var(--primary-lighten);
    transition: inherit;
  }
}

.toggle-switch__icon {
  font-weight: bold;
  font-size: 1.1rem;

  &.toggle-switch__icon--on {
    color: #1bb97a;
  }
  &.toggle-switch__icon--off {
    color: #ea001c;
  }
}

.toggle-switch__input:checked + .toggle-switch__display {
  background-color: var(--color-message-success);
}

.toggle-switch__input:checked + .toggle-switch__display::before {
  transform: translate(100%, -50%);
}

.toggle-switch__input:disabled {
  cursor: not-allowed;

  + .toggle-switch__display {
    background-color: var(--gray-100);
    border-color: var(--gray-600);

    .toggle-switch__icon {
      color: var(--gray-600);
    }
  }
  + .toggle-switch__display::before {
    background-color: var(--gray-200);
    border-color: var(--gray-600);
  }
}

label {
  margin-left: 0.5rem;
}
