.nag_button {
  user-select: none;
  padding: 0.5rem 1rem;
  font-family: "Quattrocento Sans";
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  transition: var(--transition);
  transition-property: border-color, background-color, box-shadow, color;
  border: 0.125rem solid;
  border-radius: var(--component-br);
  cursor: pointer;

  &.button-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.85em;
  }

  &.button-fill {
    background-color: var(--button-fill-bg);
    color: var(--button-fill-text);
    border-color: var(--button-fill-border);

    &.secondary {
      background-color: var(--button-fill-secondary-bg);
      color: var(--button-fill-secondary-text);
      border-color: var(--button-fill-secondary-border);
    }

    &:hover,
    &:focus {
      background-color: var(--button-fill-hover-bg);
      color: var(--button-fill-hover-text);
      border-color: var(--button-fill-hover-border);

      &.secondary {
        background-color: var(--button-fill-secondary-hover-bg);
        color: var(--button-fill-secondary-hover-text);
        border-color: var(--button-fill-secondary-hover-border);
      }

      &.glow {
        box-shadow: 0 0 10px var(--button-fill-bg);
      }
    }

    &:active {
      background-color: var(--button-fill-active-bg);
      color: var(--button-fill-active-text);
      border-color: var(--button-fill-active-border);

      &.secondary {
        background-color: var(--button-fill-secondary-active-bg);
        color: var(--button-fill-secondary-active-text);
        border-color: var(--button-fill-secondary-active-border);
      }
    }
  }

  &.button-outline {
    background-color: var(--button-outline-bg);
    color: var(--button-outline-text);
    border-color: var(--button-outline-border);
    &.dark-bg {
      color: var(--text-inverse);
      background-color: var(--gray-900);
    }

    &.secondary {
      background-color: var(--button-outline-secondary-bg);
      color: var(--button-outline-secondary-text);
      border-color: var(--button-outline-secondary-border);
    }

    &:hover,
    &:focus {
      background-color: var(--button-outline-hover-bg);
      color: var(--button-outline-hover-text);
      border-color: var(--button-outline-hover-border);

      &.secondary {
        background-color: var(--button-outline-secondary-hover-bg);
        color: var(--button-outline-secondary-hover-text);
        border-color: var(--button-outline-secondary-hover-border);
      }

      &.glow {
        box-shadow: 0 0 10px var(--button-outline-border);
      }
    }

    &:active {
      background-color: var(--button-outline-active-bg);
      color: var(--button-outline-active-text);
      border-color: var(--button-outline-active-border);

      &.secondary {
        background-color: var(--button-outline-secondary-active-bg);
        color: var(--button-outline-secondary-active-text);
        border-color: var(--button-outline-secondary-active-border);
      }
    }
  }
}
