<footer id="footer">
  <nav aria-label="Footer Navigation">
    <ul class="container">
      @for(item of footerNavData(); track $index){
      <li>
        <a
          class="nav-link footer-nav-link"
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          tabindex="0"
          >{{ item.label }}</a
        >
      </li>
      }
      <li class="copyright-footer" title="E-Mail senden an webmaster@dnagb.de">
        <a
          class="copyright-footer-link"
          href="mailto:webmaster@dnagb.de"
          tabindex="0"
          >&copy; Norbert Madauß</a
        >
      </li>
    </ul>
  </nav>
</footer>
