<footer id="footer">
  <nav>
    <ul class="container">
      <li class="no-mobile">
        <a
          class="nav-link"
          routerLink="/impressum"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Impressum</a
        >
      </li>
      <li class="no-mobile">
        <a
          class="nav-link"
          routerLink="/kontakt"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Kontakt</a
        >
      </li>
      <li class="no-mobile">
        <a
          class="nav-link"
          routerLink="/datenschutz"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Datenschutz</a
        >
      </li>
      <li class="copyright" title="E-Mail senden an webmaster@dnagb.de">
        <a class="primary" href="mailto:webmaster@dnagb.de"
          >&copy; Norbert Madauß</a
        >
      </li>
    </ul>
  </nav>
</footer>
