<header id="header">
  <nav>
    <ul class="break-point-mantle">
      <li>
        <a
          class="nav-link-logo"
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <img src="../assets/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/up-to-date"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Aktuelles</a
        >
      </li>
    </ul>
  </nav>
</header>
