<header id="header">
  <nav>
    <ul class="break-point-mantle">
      <li>
        <a
          class="nav-link-logo"
          routerLink="/home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <img src="../assets/logo.png" alt="Logo" class="logo" />
        </a>
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/up-to-date"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Aktuelles</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/dnagb/verein"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Der DNagB</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/dnagb/dojo"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Dojos</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/naginata"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Naginata</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/info"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Infos<br />
          für Aktive</a
        >
      </li>
      <li>
        <a
          class="nav-link"
          routerLink="/download"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Formulare<br />
          & Dokumente</a
        >
      </li>
    </ul>
  </nav>
</header>
