#main {
  width: 100%;
  height: var(--main-height);
  overflow: auto;
  background-color: var(--main-bg);
  background-image: linear-gradient(
      222deg,
      rgba(137, 137, 137, 0.02) 0%,
      rgba(137, 137, 137, 0.02) 21%,
      transparent 21%,
      transparent 63%,
      rgba(101, 101, 101, 0.02) 63%,
      rgba(101, 101, 101, 0.02) 99%,
      rgba(35, 35, 35, 0.02) 99%,
      rgba(35, 35, 35, 0.02) 100%
    ),
    linear-gradient(
      267deg,
      rgba(40, 40, 40, 0.02) 0%,
      rgba(40, 40, 40, 0.02) 23%,
      transparent 23%,
      transparent 48%,
      rgba(87, 87, 87, 0.02) 48%,
      rgba(87, 87, 87, 0.02) 98%,
      rgba(47, 47, 47, 0.02) 98%,
      rgba(47, 47, 47, 0.02) 100%
    ),
    linear-gradient(
      78deg,
      rgba(103, 103, 103, 0.02) 0%,
      rgba(103, 103, 103, 0.02) 40%,
      transparent 40%,
      transparent 64%,
      rgba(100, 100, 100, 0.02) 64%,
      rgba(100, 100, 100, 0.02) 84%,
      rgba(35, 35, 35, 0.02) 84%,
      rgba(35, 35, 35, 0.02) 100%
    ),
    linear-gradient(
      136deg,
      rgba(135, 135, 135, 0.02) 0%,
      rgba(135, 135, 135, 0.02) 14%,
      transparent 14%,
      transparent 67%,
      rgba(51, 51, 51, 0.02) 67%,
      rgba(51, 51, 51, 0.02) 68%,
      rgba(178, 178, 178, 0.02) 68%,
      rgba(178, 178, 178, 0.02) 100%
    ),
    linear-gradient(90deg, var(--main-bg), var(--main-bg));
}
