@import url("./styles/color.css");
@import url("./styles/variables.css");
@import url("./styles/ui_components.css");

@font-face {
  font-family: "Quattrocento Sans";
  src: url("./assets/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("./assets/fonts/Quattrocento_Sans/QuattrocentoSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("./assets/fonts/Quattrocento_Sans/QuattrocentoSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quattrocento Sans";
  src: url("./assets/fonts/Quattrocento_Sans/QuattrocentoSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--text);
  padding: 0%;
  margin: 0%;
}
