@import url("./styles/color.css");
@import url("./styles/variables.css");
@import url("./styles/ui_components.css");

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--text);
  padding: 0%;
  margin: 0%;
}
