<div class="container page">
  <section id="news" class="section">
    <h2>News</h2>
    <div class="news">
      @for(item of news; track $index){
      <app-news-card [data]="item"></app-news-card>
      }
    </div>
  </section>
  <section id="events" class="section">
    <h2 class="section-header">Events</h2>
    <div class="action-panel">
      <app-toggle-switch
        label="Vergangene Events"
        (output)="getOutputFromToggleButton($event)"
        id="1001"
      ></app-toggle-switch>
    </div>

    <div class="news">
      @for(item of events; track $index){
      <app-event-card [data]="item"></app-event-card>
      }
    </div>
  </section>
</div>
