.news {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
}

#news,
#events {
  max-width: 1400px;
}

.section-header {
  margin-bottom: 1rem;
}

.action-panel {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .news {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .news {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }
}
