<div class="container page">
  <section id="event" class="section">
    <div class="event-header">
      <h3>
        {{ data.title }}
      </h3>
      <button class="nag_button button-fill back" (click)="goBackToPrevPage()">
        Zurück
      </button>
    </div>
    <p class="date">
      {{ data.date_start.toLocaleString("de-DE", options).replace(",", "") }}

      @if(data.date_end){ -
      {{ data.date_end.toLocaleString("de-DE", options).replace(",", "") }}
      }
    </p>
    <div
      class="event_image"
      [ngClass]="{
        marginBottom: !data.type.length
      }"
    >
      @if(data.image){
      <img
        src="{{ url }}/assets/{{ data.image }}?quality=25"
        alt="Bild von {{ data.title }}"
      />
      } @else {
      <img src="./assets/naginata-symbolbild-260x300.jpg" alt="" />
      }
    </div>
    @if(data.type.length > 0){
    <div class="type">
      @for( type of data.type; track $index){
      <span class="chip sm">{{ type }}</span>
      }
    </div>
    }
    <p class="announcement">{{ data.announcement }}</p>
    <p class="description" [innerHTML]="data.description"></p>

    <div class="infocontainer">
      <h4>Auf einen Blick</h4>
      <div class="bold">Location</div>
      <div>
        {{ data.location_name }}
      </div>
      <div class="bold">Adresse</div>
      <div>{{ data.street }} {{ data.number }}</div>
      <div>{{ data.postal_code }} {{ data.city }}</div>

      <a [href]="mapsLink" target="_blank">Google Maps</a>
    </div>
  </section>
</div>
