<div class="container page">
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ news ~~~~~~~~~~~~~~~~~~~~~~~~ -->

  @if(news){
  <section id="news-detail" class="section">
    <div class="action-panel">
      <!-- TODO: add icons, here back arrow -->
      <button class="nag_button button-fill back" (click)="goBackToPrevPage()">
        Zurück
      </button>
    </div>
    <h2 class="news-title">
      {{ news.title }}
    </h2>
    <div class="news-info-header">
      <div class="date">
        <span>
          {{ news.date_start | date : "dd.MM.yyyy" }}
        </span>
        <span>
          @if(news.author){, {{ news.author }}
          }
        </span>
      </div>
    </div>
    <div class="news-content" [innerHTML]="news.article | safeHtml"></div>
    <div class="mobile mobile-container">
      <button
        class="nag_button button-fill back mobile"
        (click)="goBackToPrevPage()"
      >
        Zurück
      </button>
    </div>
  </section>
  }

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ event ~~~~~~~~~~~~~~~~~~~~~~~~ -->

  @if(event){
  <section id="event-detail" class="section">
    <div class="action-panel">
      <button class="nag_button button-fill back" (click)="goBackToPrevPage()">
        Zurück
      </button>
    </div>
    <h2 class="event-title">
      {{ event.title }}
    </h2>
    <div class="event-info-header">
      <div class="date">
        {{ event.date_start | date : "EE dd.MM.yyyy HH:mm" }}
        @if(event.date_end){ –
        {{ event.date_end | date : "EE dd.MM.yyyy HH:mm" }}
        }
      </div>

      @if(event.type.length > 0){
      <div class="type">
        @for( type of event.type; track $index){
        <span class="chip sm">{{ type }}</span>
        }
      </div>
      }
    </div>

    <p class="description" [innerHTML]="event.description | safeHtml"></p>

    <div class="infocontainer">
      <h4>Auf einen Blick</h4>
      <div class="bold">Datum</div>
      <div>
        {{ event.date_start | date : "EE dd.MM.yyyy HH:mm" }}

        @if(event.date_end){ –
        {{ event.date_end | date : "EE dd.MM.yyyy HH:mm" }}
        }
      </div>
      <div class="bold">Location</div>
      <div>
        {{ event.location_name }}
      </div>
      <div class="bold">Adresse</div>
      <div>{{ event.street }} {{ event.number }}</div>
      <div>{{ event.postal_code }} {{ event.city }}</div>

      <a [href]="mapsLink" target="_blank">Google Maps</a>
    </div>
    <div class="mobile mobile-container">
      <button
        class="nag_button button-fill back mobile"
        (click)="goBackToPrevPage()"
      >
        Zurück
      </button>
    </div>
  </section>
  }
</div>
