<div class="container page">
  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ news ~~~~~~~~~~~~~~~~~~~~~~~~ -->

  @if(news){
  <section id="news-detail" class="section">
    <!-- TODO: edit actions panel and set button to right -->
    <div class="actions">
      <!-- TODO: let button float on small screen -->
      <button class="nag_button button-fill back" (click)="goBackToPrevPage()">
        Zurück
      </button>
    </div>
    <h2 class="news-title">
      {{ news.title }}
    </h2>
    <div class="news-info-header">
      <!-- TODO: add author -->
      <p class="date">
        {{ news.date_start.toLocaleString("de-DE", options).replace(",", "") }}
      </p>
    </div>
    <div class="news-content" [innerHTML]="news.article | safeHtml"></div>
  </section>
  }

  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ event ~~~~~~~~~~~~~~~~~~~~~~~~ -->

  @if(event){
  <section id="event-detail" class="section">
    <div class="actions">
      <button class="nag_button button-fill back" (click)="goBackToPrevPage()">
        Zurück
      </button>
    </div>
    <h2 class="event-title">
      {{ event.title }}
    </h2>
    <div class="event-info-header">
      <p class="date">
        {{ event.date_start.toLocaleString("de-DE", options).replace(",", "") }}
        @if(event.date_end){ –
        {{ event.date_end.toLocaleString("de-DE", options).replace(",", "") }}
        }
      </p>

      @if(event.type.length > 0){
      <div class="type">
        @for( type of event.type; track $index){
        <span class="chip sm">{{ type }}</span>
        }
      </div>
      }
    </div>
    <p class="description" [innerHTML]="event.description | safeHtml"></p>

    <div class="infocontainer">
      <h4>Auf einen Blick</h4>
      <div class="bold">Datum</div>
      <div>
        {{ event.date_start.toLocaleString("de-DE", options).replace(",", "") }}

        @if(event.date_end){ –
        {{ event.date_end.toLocaleString("de-DE", options).replace(",", "") }}
        }
      </div>
      <div class="bold">Location</div>
      <div>
        {{ event.location_name }}
      </div>
      <div class="bold">Adresse</div>
      <div>{{ event.street }} {{ event.number }}</div>
      <div>{{ event.postal_code }} {{ event.city }}</div>

      <a [href]="mapsLink" target="_blank">Google Maps</a>
    </div>
  </section>
  }
</div>
