.page {
  padding-top: calc(var(--page-padding-number) * (-1));
  padding-left: calc(var(--page-padding-number) * (-1));
  padding-right: calc(var(--page-padding-number) * (-1));
}

.banner_bg-fill {
  background: linear-gradient(90deg, var(--header-bg) 30%, var(--main-bg) 100%);

  .banner_content {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: var(--section-padding);
  }

  .banner_title {
    margin: 0;
    font-size: clamp(2.5rem, 1.45rem + 2.9126vw, 4rem);
    width: clamp(17.5rem, 8rem + 25vw, 28rem);
    font-family: Fira Sans;
    color: var(--text-inverse);
  }
}

.banner_stack {
  display: flex;
  gap: 1rem;
}

#short-info {
  display: grid;
  gap: 1rem;
  padding: var(--section-padding);
}

.sample-box {
  height: 20rem;
  width: 100%;
  background-color: orange;
}
