<div class="page">
  <section id="banner" class="banner_bg-fill">
    <div class="banner_content container">
      <h1 class="banner_title">{{ title.long_1 }}</h1>
      <div class="banner_stack">
        <button
          class="nag_button button-fill glow"
          (click)="navigateTo('/dnagb/mitglied-werden')"
        >
          Mitglied werden
        </button>
        <button
          class="nag_button button-outline dark-bg glow"
          (click)="navigateTo('/naginata/kampfsport')"
        >
          Das ist Naginata
        </button>
      </div>
    </div>
  </section>
  <section id="short-info" class="container">
    <app-calendar></app-calendar>
    <div class="sample-box">
      <div class="title">Beispiel News</div>
      <div class="body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet.
      </div>
      <div class="action">
        <button class="nag_button button-outline">Info</button>
      </div>
    </div>
    <div class="sample-box">
      <div class="title">Naginata ist sexy!</div>
      <div class="body two"></div>
      <div class="action">
        <button class="nag_button button-outline">Info</button>
      </div>
    </div>
  </section>
</div>
