<div class="page">
  <section id="banner" class="banner_bg-fill">
    <div class="banner_content container">
      <h1 class="banner_title">{{ title.long_1 }}</h1>
      <div class="banner_stack">
        <button
          class="nag_button button-fill glow"
          (click)="navigateTo('/dnagb/mitglied-werden')"
        >
          Mitglied werden
        </button>
        <button
          class="nag_button button-outline dark-bg glow"
          (click)="navigateTo('/naginata/kampfsport')"
        >
          Das ist Naginata
        </button>
      </div>
    </div>
  </section>
  <section id="short-info" class="container">
    <app-calendar></app-calendar>
    <div class="sample-box"></div>
    <div class="sample-box"></div>
  </section>
</div>
