.who-we-are {
  margin-bottom: 1rem;
}

.board-speaker {
  display: flex;
  gap: 1rem;
}

.sub-title {
  text-align: center;
}

.group-wrapper {
  width: 100%;
}

.board,
.speaker {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
