<div class="container page">
  <section class="section who-we-are" [innerHtml]="data.who_we_are"></section>
  <section class="section board-speaker">
    <div class="group-wrapper">
      <h2 class="sub-title">Vorstand</h2>
      <div class="board">
        @for(member of data.board; track $index){
        <app-staff-card [item]="member"></app-staff-card>
        }
      </div>
    </div>
    <div class="group-wrapper">
      <h2 class="sub-title">Referent*innen</h2>
      <div class="speaker">
        @for(member of data.board_speaker; track $index){ @if(member.role ===
        'speaker'){
        <app-staff-card [item]="member"></app-staff-card>

        } }
      </div>
    </div>
  </section>
</div>
