<h2 class="event-list-header">Nächste Events</h2>
<ul class="event-list">
  @if(!list){
  <li class="null-event-item">Es stehen gerade keine Events an.</li>
  <li class="null-event-item">
    Schau doch mal welche
    <a (click)="router.navigateByUrl('/news#events')">Events</a>

    es schon gab!
  </li>

  } @for(item of list;track $index){ @if(item.status === 'published'){

  <li
    class="event-item"
    (click)="openDetails('event', item.id)"
    (keyup.enter)="openDetails('event', item.id)"
    tabindex="0"
    [title]="item.type.length ? item.title + ': ' + item.type : item.title"
  >
    <span class="event-date">
      {{ item.date_start | date : "EE dd.MM.yyyy" }}</span
    >:
    <span class="event-title">
      {{ item.title }}
    </span>
  </li>
  } }
</ul>
