.card {
  width: 100%;
  background-color: var(--white);
  overflow: hidden;
  border-radius: var(--border-radius);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  transition: var(--transition);

  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.5));
  }

  &:focus-visible {
    outline-offset: 0rem;
  }

  .card-image {
    position: relative;

    img {
      max-width: 100%;
      width: 100%;
      height: 10rem;
      object-fit: cover;
    }
  }

  .card-content {
    padding: 0.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 700;
      margin-bottom: 0.5rem;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .date {
      font-size: 0.875rem;
      color: var(--gray-800);
      margin-bottom: 0.5rem;
      font-style: italic;
    }

    .type {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .announcement {
      margin: 0.5rem 0 1rem 0;
    }

    .details {
      width: fit-content;
      margin-top: auto;
      margin-right: auto;
      color: var(--secondary);
      font-weight: 700;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      transition: var(--transition);
      position: relative;

      &::after {
        transition: var(--transition);
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -0.125rem;
        width: 0;
        height: 0.125rem;
        background-color: var(--secondary);
      }
    }
  }

  &:hover,
  &:focus {
    .card-content {
      .details {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
