<div class="container page">
  <section id="download" class="">
    @for(part of headers; track $index){
    <div class="sub-section">
      <div class="sub-section-header">
        <h2 id="download-{{ part }}">
          {{ part }}
        </h2>
      </div>
      <div class="sub-section-content">
        @for(item of files; track $index){ @if(item.data.tags.includes(part)){
        <div class="download">
          <div class="download-content">
            <span class="download-name">
              {{ item.data.title }}
            </span>
            @if(item.data.description){
            <span class="download-description">
              {{ item.data.description }}
            </span>
            }
          </div>
          <div class="download-action">
            <a
              class="nag_button button-outline secondary button-sm download-button"
              href="{{ url }}/assets/{{ item.directus_files_id }}"
              target="_blank"
              >Anzeigen
            </a>
            <a
              class="nag_button button-outline button-sm download-button"
              href="{{ url }}/assets/{{ item.directus_files_id }}?download"
              target="_blank"
              >Download</a
            >
          </div>
        </div>
        } }
      </div>
    </div>
    }
  </section>
</div>
