<div class="container page">
  <section id="download" class="section">
    <h2>Formulare & Dokumente</h2>
    @for(part of headers; track $index){
    <div class="sub-section">
      <h3 id="download-{{ part }}">
        {{ part }}
      </h3>
      <div class="sub-section-content">
        @for(item of files; track $index){ @if(item.data.tags.includes(part)){
        <div class="download">
          <div class="download-content">
            <span class="download-name">
              {{ item.data.title }}
            </span>
            @if(item.data.description){
            <span class="download-description">
              {{ item.data.description }}
            </span>
            }
          </div>
          <div class="download-action">
            <button
              class="nag_button button-outline secondary button-sm download-button"
              target="_blank"
              (click)="setActiveData(url, item.directus_files_id)"
            >
              Anzeigen
            </button>
            <button
              class="nag_button button-outline button-sm download-button"
              (click)="openDownload(url, item.directus_files_id)"
              target="_blank"
            >
              Download
            </button>
          </div>
        </div>
        } }
      </div>
    </div>
    }
    <!-- TODO: open as modal and bigger view -->
    <dialog id="pdf-viewer" #pdfViewer>
      <!-- id="pdfViewer" -->
      <object
        class="viewer"
        type="application/pdf"
        [data]="activeData | safeUrl"
      ></object>
      <button
        class="nag_button button-outline button-sm"
        (click)="closePdfViewerDialog()"
      >
        schließen
      </button>
    </dialog>
  </section>
</div>
