.calendar {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  cursor: default;
  user-select: none;
}

.month {
  display: flex;
  align-items: center;
  height: 2.85rem;
  background-color: var(--primary);
  font-family: "Heebo";
  font-weight: 600;
  font-size: 1.25rem;
  border-radius: var(--component-br) var(--component-br) 0 0;

  .month-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 3rem;
    height: 2.85rem;
    padding: 0.5rem;
    transition: var(--transition);

    &:hover {
      background-color: var(--primary-lighten);
    }

    &:active {
      background-color: var(--primary-darken);
    }

    &.prev {
      border-radius: var(--component-br) 0 0 0;
    }
    &.next {
      border-radius: 0 var(--component-br) 0 0;
    }
  }

  .current-month-year {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2.85rem;
    width: 100%;
    padding: 0.5rem 0;
  }
}

.weekdays {
  padding: 0 1rem;
  background-color: var(--white);

  span {
    display: inline-block;
    text-align: center;
    width: 13.6%;
    padding: 0.5rem;
  }
}

.days {
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 0 var(--component-br) var(--component-br);
  background-color: var(--white);

  .day {
    display: inline-block;
    text-align: center;
    padding: 0.5rem;
    width: 13.6%;
  }

  .out-month {
    color: var(--grey-300);
  }

  .event {
    --offset: 0.25rem;
    position: relative;
    z-index: 100;
    color: var(--text-inverse);
    color: var(--secondary-text);
    cursor: pointer;
    border-radius: var(--component-br);
    background-color: var(--secondary);
    border: var(--offset) solid var(--secondary);
    padding: calc(0.5rem - var(--offset));

    &:hover {
      background-color: var(--secondary-darken);
      border: 0.25rem solid var(--secondary-darken);
      filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    }
  }

  .today {
    --offset: 0.25rem;
    padding: calc(0.5rem - var(--offset));
    position: relative;
    z-index: 100;
    border: var(--offset) solid rgb(255, 55, 0);
    border-radius: var(--component-br);

    &:hover {
      border: var(--offset) solid rgb(255, 55, 0);
    }
  }
}

.calendar-extend {
  display: flex;
  justify-content: flex-end;
  height: 2.25rem;

  .switch-event-buttons {
    margin-left: 2rem;
    margin-right: auto;
  }

  .calendar-note {
    user-select: none;
    cursor: pointer;
    rotate: 10deg;
    translate: 0 -0.5rem;
    margin-right: 2rem;
    border: none;
    background-color: #fef4af;
    transition: var(--transition);
    width: 3rem;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.125));

    &:hover {
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.35));
    }

    &:active {
      background-color: #ece3a4;
    }
  }
}
