/* TODO: edit style of card */

.card {
  width: 12rem;
  height: 100%;
  min-height: 16.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 1rem;
  /* cursor: pointer; */
  transition: var(--transition);

  .front {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .back {
    display: none;
    height: 100%;
    height: inherit;

    .contact {
      .contact-heading {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-weight: 700;
        margin-bottom: 0.25rem;
      }

      .contact-link {
        width: 100%;
        padding: 0.5rem 0rem;
        border-radius: var(--border-radius);
        cursor: default;
        word-break: break-all;

        &:hover {
          color: var(--primary-darken);
        }
      }
    }
  }

  &.flip {
    .front {
      display: none;
    }

    .back {
      display: block;
    }
  }

  /* &:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
  } */

  .card-foto {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;

    img {
      border-radius: 50%;
      height: 7rem;
      width: 7rem;
      object-fit: cover;
      position: relative;
      border: 0.25rem solid var(--gray-100);
    }
    .panel {
      width: calc(100% + 2rem);
      height: calc(60% + 1rem);
      position: absolute;
      margin: -1rem;
      border-radius: var(--border-radius) var(--border-radius) 0 0;
    }
  }

  .card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    overflow-wrap: break-word;
    margin-bottom: 1.5rem;

    .role {
      font-weight: 600;
    }
  }

  .rank {
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    left: 0.5rem;

    font-weight: bold;
    font-size: 0.875rem;
    background-color: var(--white);
    color: var(--secondary);
    padding: 0.125rem 0.375rem;
    border: 0.125rem solid var(--secondary);
    border-radius: var(--border-radius);
  }
}
