<div #card class="card" (click)="toggleCardFlip(card)">
  <div class="front">
    <div class="card-foto">
      <div class="panel"></div>
      <img
        src="{{ url }}/assets/{{ item.image }}"
        alt="Bild von {{ item.name }}"
      />
    </div>
    <div class="card-name">
      {{ item.name }}
      @if(item.rank){ ({{ item.rank }}) }
    </div>
    <div class="card-position">{{ item.label || item.role }}</div>
  </div>
  <div class="back">
    <div class="contact">
      <span class="contact-heading"
        ><img
          src="../../../assets/icons/contact_mail.svg"
          alt=""
        />Kontakt</span
      >
      @if(item.email){
      <a
        class="contact-link"
        href="mailto:{{ item.email }}"
        (click)="stopPropagation($event)"
      >
        {{ item.email }}</a
      >
      } @else { <i>Keine Angabe</i> }
    </div>
  </div>
</div>
