<div id="side-nav" [ngClass]="{ open: open() }" (click)="clickBackdrop()">
  <nav arria-label="Main Navigation" (click)="stopPropagation($event)">
    <section>
      <a
        class="side-nav-link"
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        tabindex="0"
      >
        Startseite <span aria-hidden="true">🏠</span>
      </a>
    </section>
    <div class="menu-seperator"></div>

    @for(item of headerNavData; track $index){ @if(item.routerLink){
    <section>
      <a
        class="side-nav-link"
        [routerLink]="item.routerLink"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        tabindex="0"
      >
        {{ item.label }}
      </a>
    </section>
    <div class="menu-seperator"></div>
    } @if(item.subnav){
    <section>
      <div class="section-title">{{ item.label }}</div>

      <ul>
        @for(subItem of item.subnav; track $index){
        <li tabindex="0">
          <a
            class="side-nav-link"
            [routerLink]="subItem.routerLink"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            tabindex="0"
          >
            {{ subItem.label }}
          </a>
        </li>
        }
      </ul>
    </section>
    <div class="menu-seperator"></div>
    } }
  </nav>
</div>
