<div id="side-nav" [ngClass]="{ open: open }" (click)="toggleSideNav()">
  <nav arria-label="Main Navigation">
    <ul class="nav-list">
      @for(item of navData; track $index){
      <li>
        <h4 class="list-header">{{ item.label }}</h4>
      </li>
      @if(item.routerLink){
      <li class="side-nav-item">
        <a
          class="side-nav-link"
          [routerLink]="item.routerLink"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ item.label }}
        </a>
      </li>
      } @if(item.subnav){ @for(subItem of item.subnav; track $index){
      <li class="side-nav-item">
        <a
          class="side-nav-link"
          [routerLink]="subItem.routerLink"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ subItem.label }}
        </a>
      </li>
      } } }
    </ul>
    <div class="options">
      <!-- <button class="nag_button button-fill">Optionen</button> -->
      <span class="version">Version: 0.1.0</span>
    </div>
  </nav>
</div>
