<div class="container page map-wrap">
  <section id="map" class="section"></section>

  <section class="section dojo-info">
    @if(!showInfo){
    <ul>
      @for(dojo of allDojos; track $index){
      <li>{{ dojo.name }}</li>
      }
    </ul>

    } @else {
    <div class="stack">
      <div class="left">
        <h2>{{ dojoInfo.name }}</h2>
        <div class="city">{{ dojoInfo.city }}</div>
        <a href="{{ dojoInfo.link }}" class="link" target="_blank"
          >Unsere Website</a
        >
      </div>

      <img
        class="right logo"
        src="{{ url }}/assets/{{ dojoInfo.logo }}"
        alt=""
      />
    </div>
    <div [innerHtml]="dojoInfo.description"></div>
    <div class="action">
      <button class="close nag_button button-fill" (click)="closeInfo()">
        Schließen
      </button>
    </div>
    }
  </section>
</div>
