.map-wrap {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

#map {
  width: 100%;
  height: calc(var(--main-height) - 2 * var(--page-padding-value));
  padding: 0;
}

.dojo-info {
  width: 50%;
}
