<div class="month">
  <button class="month-button prev">&#10094;</button>
  <div class="current-month-year">
    <span> September </span>
    <span> 2024 </span>
  </div>
  <button class="month-button next">&#10095;</button>
</div>
<div class="weekdays">
  <span>Mo</span>
  <span>Di</span>
  <span>Mi</span>
  <span>Do</span>
  <span>Fr</span>
  <span>Sa</span>
  <span>So</span>
</div>
<div id="days" class="days">
  @for(day of daysInCurrentMonth; track $index){
  <span>{{ day }}</span>
  }
</div>
