<div class="month">
  <button class="month-button prev" (click)="prevMonth()">&#10094;</button>
  <div class="current-month-year">
    <span> {{ month[currentMonth] }} </span>
    <span> {{ currentYear }} </span>
  </div>
  <button class="month-button next" (click)="nextMonth()">&#10095;</button>
</div>
<div class="weekdays">
  <span>Mo</span>
  <span>Di</span>
  <span>Mi</span>
  <span>Do</span>
  <span>Fr</span>
  <span>Sa</span>
  <span>So</span>
</div>
<div id="days" class="days">
  @for(element of displayedDays; track $index){ @if(element.inMonth){
  <span class="in-month">{{ element.day }}</span>
  } @else {
  <span class="out-month">{{ element.day }}</span>
  } }
</div>
