<div class="container page">
  <section id="news" class="section">
    <h2>Events</h2>
    <div class="news">
      @for(item of news; track $index){
      <div
        class="news-card"
        [ngClass]="{ past: item.past }"
        (click)="openDetails(item.id)"
      >
        <div class="card-image">
          <img src="./assets/naginata-symbolbild-260x300.jpg" alt="" />
        </div>
        <div class="card-content">
          <div class="title">{{ item.title }}</div>
          <div class="date">
            {{
              item.date_start.toLocaleString("de-DE", options).replace(",", "")
            }}
            @if(item.date_end){ -
            {{
              item.date_end.toLocaleString("de-DE", options).replace(",", "")
            }}
            }
          </div>
          <div class="type">
            @for( type of item.type; track $index){
            <div class="chip xs">{{ type }}</div>
            }
          </div>
          <div class="announcement">
            {{
              item.announcement ??
                "Platzhaltertext für eine kleine Beschreibung des Events."
            }}
          </div>
        </div>
      </div>
      }
    </div>
  </section>
</div>
