<div class="container page">
  <section id="news" class="section">
    <h2>Events</h2>
    <div class="news">
      @for(item of news; track $index){ @if(item.status === "published") {

      <div class="news-card" (click)="openDetails(item.id)">
        <!-- [ngClass]="{ past: item.past }" -->
        <div class="card-image">
          @if(item.image){
          <img
            src="{{ url }}/assets/{{ item.image }}?quality=50"
            alt="Bild von {{ item.title }}"
          />
          } @else {

          <img src="./assets/naginata-symbolbild-260x300.jpg" alt="" />
          }
        </div>
        <div class="card-content">
          <div class="title">{{ item.title }}</div>
          <div class="date">
            {{
              item.date_start.toLocaleString("de-DE", options).replace(",", "")
            }}
            @if(item.date_end){ -
            {{
              item.date_end.toLocaleString("de-DE", options).replace(",", "")
            }}
            }
          </div>
          @if(item.type.length){
          <div class="type">
            @for( type of item.type; track $index){
            <div class="chip xs">{{ type }}</div>
            }
          </div>
          }
          <p class="announcement">
            {{ item.announcement }}
          </p>
          <div class="details">zum Event</div>
        </div>
      </div>
      } }
    </div>
  </section>
</div>
