.news {
  padding: 0;
  margin: 0;
}

.news-card {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: var(--component-br);
  background-color: var(--white);
  cursor: pointer;
  transition: var(--transition);
  overflow: hidden;

  &:last-of-type {
    margin-bottom: 2rem;
  }

  &:hover {
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.5));
  }

  &.past {
    &::after {
      content: "Abgelaufen";
      width: 2rem;
      height: 30rem;
      rotate: -135deg;
      position: absolute;
      background-color: var(--secondary);
      color: var(--secondary-text);
      top: -10rem;
      left: 6rem;
      writing-mode: vertical-lr;
      font-size: 1.5rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .news-card_image {
    .image-wrapper {
      margin: 1rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: start;
      border-radius: var(--component-br);

      img {
        object-fit: cover;
      }
    }
  }
  .news-card_content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content-title {
      margin-bottom: 0.5rem;
    }

    .image-sm {
      width: 80px;
      height: 80px;
      border-radius: var(--component-br);
      position: relative;
      top: -1.875rem;
    }

    .content-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      height: 100%;

      .content-left {
        display: flex;
        flex-direction: column;

        .date,
        .location {
          margin-bottom: 0.5rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        .type {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
        }
      }

      .content-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        display: flex;
        align-items: end;

        .details {
          background-color: var(--primary);
          padding: 0.5rem 0.75rem;
          border-radius: var(--component-br);
          margin-top: auto;
        }
      }
    }
  }
}
