<div class="container page page-content">
  <ul>
    <li class="news-card">
      <div class="news-card_image">
        <div class="image-wrapper">
          <img src="../../../assets/placeholder.png" alt="" />
        </div>
      </div>
      <div class="news-card_content">
        <h3 class="content-title">Titel</h3>
        <div class="content-left">
          <div>
            <img src="../../../assets/icons/calendar_month.svg" alt="" /> Sa.
            31.10.2030, 10:00 Uhr
          </div>
          <div>
            <img src="../../../assets/icons/location.svg" alt="" />Ort, Gebäude,
            Adresse
          </div>
        </div>
        <div class="content-right">
          <button>Details</button>
        </div>
      </div>
    </li>
  </ul>
</div>
