<div class="container page">
  @if(data){

  <section
    class="section custom-html-content"
    [innerHtml]="data | safeHtml"
  ></section>
  } @else {
  <section
    class="section no-content"
    style="background-image: url('./assets/kirschbluetenbaum.jpg')"
  ></section>
  <div class="message">
    <h3 class="message-title">Nix los hier 🥱</h3>
    <p>
      Es wurde anscheinend noch kein Inhalt für diese Seite erstellt: <br />
      <i> {{ currentPage }} </i>
    </p>
    <p>
      Bei Problemen melde dich direkt beim
      <a
        href="mailto: webmaster@dnagb.de"
        title="E-Mail senden an webmaster@dnagb.de"
        >Webmaster</a
      >.
    </p>
  </div>
  }
</div>
