<div id="association" class="container page">
  <section class="section who-we-are" [innerHtml]="data.who_we_are"></section>
  <section class="section board-speaker">
    <div class="group-wrapper">
      <h2 class="sub-title">Vorstand</h2>
      <div class="board">
        @for(member of data.board; track $index) { @if(member.status ===
        'published'){
        <div class="member">
          <img
            class="member-image"
            src="{{ url }}/assets/{{
              member.image
            }}?quality=25&width=110&height=110"
            alt="Bild von {{ member.name }}"
          />
          <div class="stack">
            <div class="member-name">
              {{ member.name }} @if(member.rank){
              <span class="member-rank">| {{ member.rank }}</span
              >}
            </div>
            <div class="member-role">{{ member.role }}</div>
            @if(member.email){
            <a
              href="mailto:member.email"
              title="E-Mail senden an {{ member.email }}"
              >E-Mail senden</a
            >
            }
          </div>
        </div>
        } }
      </div>
    </div>

    <div class="group-wrapper">
      <h2 class="sub-title">Referent*innen</h2>
      <div class="speaker">
        @for(member of data.speaker; track $index){ @if(member.status ===
        'published'){
        <div class="member">
          <img
            class="member-image"
            src="{{ url }}/assets/{{
              member.image
            }}?quality=25&width=110&height=110"
            alt="Bild von {{ member.name }}"
          />
          <div class="stack">
            <div class="member-name">
              {{ member.name }} @if(member.rank){
              <span class="member-rank">| {{ member.rank }}</span
              >}
            </div>
            <div class="member-role">{{ member.role }}</div>
            @if(member.email){
            <a
              href="mailto:member.email"
              title="E-Mail senden an {{ member.email }}"
              >E-Mail senden</a
            >
            }
          </div>
        </div>
        } }
      </div>
    </div>
  </section>
</div>
