.who-we-are {
  margin-bottom: 1rem;
}

.board-speaker {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sub-title {
  text-align: center;
}

.group-wrapper {
  width: 100%;
}

.board,
.speaker {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .board-speaker {
    flex-direction: column;
  }
}
