.who-we-are {
  margin-bottom: 1rem;
}

.board-speaker {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.group-wrapper {
  width: 100%;
}

.board,
.speaker {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch;
  justify-content: center;
}

.member {
  display: flex;
  gap: 1rem;

  .member-image {
    border-radius: var(--border-radius);
    border-radius: 2rem;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin: auto 0;
  }

  .member-name {
    font-size: 1.25rem;
  }

  .member-role {
    color: var(--gray-800);
    font-style: italic;
  }
}

@media screen and (max-width: 768px) {
  .member {
    .member-image {
      width: 80px;
      height: 80px;
      border-radius: 1.25rem;
    }

    .stack {
      gap: 0.25rem;
    }
  }

  .board-speaker {
    flex-direction: column;
  }
}
